@model myfinance_web_netcore.Domain.PlanoContaModel

@{
    ViewData["Title"] = "Cadastro de Plano de Conta";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tipo" class="control-label"></label>
        <select asp-for="Tipo" class="form-control">
            <option value="R">Receita</option>
            <option value="D">Despesa</option>
        </select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
