@model List<myfinance_web_netcore.Domain.PlanoContaModel>

@{
    ViewData["Title"] = "Plano de Contas";
}

<h2>Plano de Contas</h2>

<a class="btn btn-primary" href="/PlanoConta/Cadastro">Novo Registro</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Tipo</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/PlanoConta/Cadastro?id=@item.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" href="/PlanoConta/Excluir?id=@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>